footer {
    background-color: black;
    padding-top: 5px;
  }
  
  div.social.d-flex.justify-content-center {
    i {
      font-size: 1rem;
    }
  
    margin-top: 2%;
  }
  
  i {
    color: #FACF0D;
  }