header img {
    width: 20%;
  }
  
  main .img-fluid {
    display: flex;
    margin: auto;
  }
  
  img.img-fluid.mb-3.mb-lg-0 {
    max-width: 100%;
  }
  
  .container.gallery {
    margin-top: 50px;
    margin-bottom: 50px;
  
    img {
      border-radius: 5px;
      border-color: black;
      border: solid;
    }
  }
  
  .container-fluid.contacto {
    margin-top: 100px;
    background-image: url(../imagenes/portadas/fondo.png);
    width: 100%;
  }
  
  .album.py-5 {
    background-image: url(../imagenes/portadas/fondo2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-image: center;
    background-size: 80%;
  }